## Chi-squared parameter scan

In [1]:
import numpy as np
import pandas as pd

In [2]:
results = {}
central_values = [0.1, 0.5, 0.9, 1.4]
uncertainties = [0.2, 0.1, 0.2, 0.25]
parameters = np.arange(0.4, 0.71, 0.01) # start, stop, step

results['parameters'] = parameters

for n in range(len(central_values)):
    results[f'chi_squared_{n + 1}'] = []
results['chi_squared_tot'] = []
    

for param in parameters:
    chi_squared = 0
    n = 1
    for value, uncertainty in zip(central_values, uncertainties):
        chi_squared_n = ((value - param) / uncertainty)**2
        results[f'chi_squared_{n}'].append(chi_squared_n)
        chi_squared += chi_squared_n
        n += 1
        
    results['chi_squared_tot'].append(chi_squared)

    
results = pd.DataFrame(results)
results.style.hide_index()